
.aboutSection-container{
  margin-top: 40px;
  margin-bottom: 40px;

  .classes-cards{
    padding: 30px 20px;
  }
  .classes-title{
    padding-bottom: 20px;
  }
  .classes-card-description{
    padding-bottom: 20px;
  }

}
