@import './settings/colors';
@import './settings/fonts';
@import './settings/base.scss';


.contact-page-container{

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:10px;
  padding: 10px;

 .contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
  margin: 30px 0;


  .card-contact {
    text-align: center;
    max-width: 100%;
    padding: 25px 0;
    border-radius: 5px;
    color: white;
    background-color: $basic-dark;

    .card-description {
      padding: 20px;
     }
     .contact-mail{
      margin: 10px 0;
      font-weight: 600;
      font-size: 18px;
     }
    .card-price {
      font-size: 20px;
    }
  }

}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  max-width: 50%;
  margin: 30px 0;

  .form-description {
    max-width: 100%;
    background-color: $basic-dark;
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
  }

  .my-form {
    max-width: 100%;
    padding: 40px;
    border-radius: 5px;
    background-color: $basic-dark;
    color: white;

    label {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 10px;
      font-size: 14px;
      border-radius: 3px;
    }

    input[type="submit"] {
      background-color: #8dbaea;
      color: white;
      padding: 15px;
      margin-top: 20px;
      font-size: 18px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
    }
    .notification-email {
      padding: 3px;
      text-align: center;
    }
  }
}
}
@media (max-width: 768px) {
  .contact-page-container {
    flex-direction: column; 
    align-items: center;
  }

  .contact-container,
  .form-box {
    max-width: 100%; 
  }
}
