@import "./settings/colors";
@import './settings/base.scss';
@import "./settings/fonts";

.container .description-home-container {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $basic-dark;
  color: white;
  padding: 30px;
  border-radius: 15px;

  .desc-home-title{
    text-align:center;
    margin-bottom: 20px;
    font-family: $sales-font;
}
  .desc-home-title-single{
    display: flex;
    align-items: center;
    gap:10px;
}
  .desc-home-box {
    padding-left: 25px;
  }

  .desc-home-info {
    padding: 10px 35px;
    line-height: 30px;
    font-family: $sales-font;

    .desc-home-list {
      list-style: disc;
      padding-left: 20px;
      font-family: $sales-font;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}

.desc-home-img {
  border: 1px solid white;
  box-shadow: 1px 1px 3px rgb(218, 217, 217);
  border-radius: 5px;
  .equip-img {
    border-radius: 3px;
    width: auto;
  }
}
