@import "./settings/base.scss";
@import "./settings/colors";
@import "./settings/fonts";

.container .ourClasses-container {
  margin-bottom: 70px;
  font-family: $text-font;
  line-height: 28px;

  .classes-cards {
    background-color: $background-screen-color;
    padding: 0 80px;
    width: 100%;
  }
  .classes-title-box {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;

    .classes-title{
    color: $basic-dark;
    font-weight: 500;
    }
    .classes-bar-icon{
      color: $basic-dark;
      
    }
  }
  .single-card-box {
    padding: 15px;
  }
  .single-class-title {
    margin-top: 20px;
    color: $basic-dark;
    font-weight: 500;
  }
  .classes-card-description {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .classes-card-desc-text {
      color: $basic-text-color-light;
      font-family: $text-font;
      line-height: 28px;
      max-width: 650px;
      text-align: justify;
      padding-right: 10px;
    }
    .classes-img {
      max-height: 200px;
      border-radius: 3px;
      border: 1px solid white;
      box-shadow: 3px 3px 3px rgb(208, 238, 247);
      max-width: 300px;
      object-fit: fill;
      margin-top: 10px;
    }
  }
}
