@import './settings/colors';
@import './settings/fonts';
@import './settings/base.scss';

.pricing-container {
  box-shadow: 0 2px 5px rgba(46, 46, 46, 0.3);
  
  .table-pricing {
    margin: 80px 0;
    padding: 30px 30px 40px 30px;  
  }
  .pricing-content{
    color: $gradient-background-dark    ;
    text-align: center;
  }
  .table-cell-title{
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
    color: $basic-dark;
  }
 
  .pricing-price{
    font-weight: bold;
  }
  .pricing-activity{
    max-width: 180px;
    text-align: center;
  }
  .pricing-desc{
    max-width: 330px;
    text-align: left;
  }
 
}
