@import './settings/colors';
@import './settings/fonts';
@import "./settings/base.scss";

.classes-table-schedule{
    margin-bottom: 70px;
}
.schedule-title{
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
}
  
.schedule-single-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #ccc;
    border-top: 3px solid #ccc;
    font-weight: bold;
    padding: 40px 0;
}
.schedule-class-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 25px 0;
      
    .schedule-single-class-title{
        font-size: 16px;
        font-weight: bold;
    }  
}
.schedule-column{
    flex: 1;
    text-align: center;
}

  .schedule-column-when,
  .schedule-column-time, 
 .schedule-column-participants, 
 .schedule-column-available {
    flex:0.7;
  }
.schedule-column-name,
  .schedule-column-level,  
   .schedule-column-reserve
   {
    flex: 1; 
  }
  .schedule-column-goal{
    flex:1.5;
  }

  .reserved-info{
    max-width: 130px;
    padding-bottom: 10px;
  }
  .reserved-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px){
    .schedule-column-name,
    .schedule-column-when,
    .schedule-column-available,
    .schedule-column-reserve{
      display: block;
    }

    .nameInput{
      max-width: 110px;
      text-wrap: wrap;
    }
    .schedule-column-goal,
    .schedule-column-participants,
    .schedule-column-level{
      display: none;
    }

  }