$background-screen-color: #fafefd;
$basic-text-color: #434940;
$basic-text-color-light: #146565;

$gradient-background-dark: #f1fcfe;
$gradient-background-lighter: #e8f3fa;
$gradient-background-light: #f6f7fd;

$navigation: rgba(58, 81, 75, 0.87);

$green-dark: rgb(6, 71, 63);
$green-light: rgb(4, 93, 98);

$basic-dark: rgb(10, 67, 100);
$basic-light:  rgba(20, 98, 95, 0.8);
$button-light: #177284;
