$background-screen-color: #ffffff;
$basic-text-color: #4a4a49;
$gradient-background-dark: #d7f3f8;
$gradient-background-lighter: #e8f3fa;
$gradient-background-light: #d6d9ee;

$navigation: rgba(44, 51, 49, 0.87);
$header-color: #4a4a49;
$message-info-color: #0becc3;
$message-success-color: #468966;

$extended-icon-color: #A1A194;
