$background-screen-color: #ffffff;
$basic-text-color: #4a4a49;
$gradient-background-dark: #d7dcf8;
$gradient-background-lighter: #e6f3f6;
$gradient-background-light: #e1d8f5;

$navigation: rgba(44, 51, 49, 0.87);
$header-color: #4a4a49;
$message-info-color: #5cade3;
$message-success-color: #468966;
$extended-icon-color: #A1A194;

