@import "./fonts";
@import "./colors";

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  font-family: $text-font;

  img {
    width: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: $text-font;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
    }
  }
}

body {
  font-family: $text-font;
  font-size: 16px;
  line-height: 28px;
  font-weight: 100;
  background-color: $background-screen-color;
  color: $basic-text-color;
}

a {
  text-decoration: none;
}
