@import './fonts';
@import "./colors";


.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;

  img{
    width: 100%;
    height: auto;
  }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

body {
  font-family: $text-font;
  font-size: 14px;
  background-color: $background-screen-color;
}

a {
  text-decoration: none;
}
